{% extends '_layouts/base.html' %}

{% block title %}Your Talk Lists{% endblock title %}

{% block headline %}<h1>Your Talk Lists</h1>{% endblock headline %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <ul class="list-group">
                {% for object in object_list %}
                    <li class="list-group-item">
                        <span class="badge">{{ object.talk_count }}</span>>
                        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
                    </li>
                    {% empty %}
                    <li class="list-group-item">You have no lists</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
