{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Talk List {{ object.name }}{% endblock %}

{% block content %}
    <article class="row">
        <header>
            <h1>{{ object.name }}</h1>
        </header>
        <div class="col-sm-6">
            {% for talk in object.talks.all %}
                {% include 'talklist/_talk.html' %}
            {% endfor %}
        </div>

        <footer class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Add a new Talk</h1>
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
            <p><a href="{% url 'talklists:list' %}">Back to lists</a></p>
        </footer>
    </article>
{% endblock %}
