<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">PyCon Survival Guide</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% url 'talks:talk_lists:list' as list %}
            {% if request.user.is_authenticated %}
                <li {% if request.path == list %} class="active" {% endif %}><a href="{% url 'talks:talk_lists:list' %}">Talk Lists</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'talks:talk_lists:create' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create a new list
                    </a>
                </li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {% if user.is_authenticated %}Hello, {{ user.username }}{% else %}Account{% endif %} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'account_logout' %}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                        </a>
                    </li>
                  {% else %}
                    <li>
                        <a href="{% url 'account_login' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login
                        </a>
                    </li>
                    <li><a href="{% url 'account_signup' %}">Signup</a></li>
                  {% endif %}
              </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
