{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Talk List {{ object.name }}{% endblock %}

{% block headline %}<h2>{{ object.name }}</h2>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            {% for talk in object.talks.all %}
                {% include 'talks/_talk.html' %}
            {% endfor %}
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Add a new Talk</h1>
                </div>
                <div class="panel-body">
                    {% crispy form %}
                </div>
            </div>
            <p><a href="{% url 'talks:talklist:list' %}">Back to lists</a></p>
        </div>
    </div>
{% endblock %}
